:root {
    /* Backdrop styles */
    --backdrop-background-color: rgba(60, 60, 60, 1);
    /* Panel styles */
    --panel-color: white;
    --panel-background-color: rgba(30, 30, 30, 0.7);
    /* Menu Styles */
}

/** Make header match the theme better **/

#header {
    background-color: black !important;
}

/** Backdrop **/

div#backdrop {
    height: 92vh;
    width: 100%;
    padding: 10px;
    background-color: var(--backdrop-background-color);
    position: relative;
}

div[data-panel] {
    background-color: var(--panel-background-color);
    box-shadow: 0 4px 8px 0 black !important;
    color: var(--panel-color);
}

/** Style the left and right panels **/

div[data-panel="left"], div[data-panel="right"] {
    min-width: 15%;
    max-width: 40%;
    min-height: 25%;
    max-height: 100%;
    overflow: scroll;
    padding: 0;
    margin: 0;
    transition: transform 0.4s;
}

div[data-panel="left"] {
    float: left;
}

div[data-panel="right"] {
    float: right;
}

div[data-panel="left"].hide {
    transform: translateX(-110%);
}

div[data-panel="right"].hide {
    transform: translateX(110%);
}

div[data-panel="footer"] {
    /* height: 3vh; */
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px;
}

/** Search style **/

div[data-search] {
    background-color: var(--panel-background-color);
    box-shadow: 0 4px 8px 0 black !important;
    color: var(--panel-color);
    position: absolute;
    height: 5vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
    border-radius: 4px;
    z-index: 200;
    /* transition: 0.1s; */
    opacity: 1;
}

div[data-search]>input {
    border-radius: inherit;
    background-color: inherit;
    color: inherit;
    border: none;
    width: 100%;
    height: inherit;
    padding: 1%;
}

div[data-search].hide {
    display: none;
}

/** Canvas styles **/

canvas {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: crosshair;
}