:root{
    /* Backdrop styles */
    --backdrop-background-color: white;
    /* Panel styles */
    --panel-color: white;
    --panel-background-color: rgba(30, 30, 30, 0.7);
    /* Menu Styles */
}

/** Make header match the theme better **/
#header {
    background-color: black !important;
}

/** Backdrop **/
div#backdrop {
    height: 92vh;
    width: 100%;
    padding: 10px;
    background-color: var(--backdrop-background-color);
    position: relative;
}

/** Style the left and right panels **/
div[data-panel="left"],div[data-panel="right"] {
    min-width: 15%;
    max-width: 40%;
    min-height: 25%;
    max-height: 100%;
    background-color: var(--panel-background-color);
    box-shadow: 0 4px 8px 0 black !important;
    overflow: scroll;
    padding: 0;
    margin: 0;
    transition: transform 0.4s;
    color: var(--panel-color);
}

div[data-panel="left"] {
    float: left;
}

div[data-panel="right"] {
    float: right;
}

div[data-panel="left"].hide {
    transform: translateX(-110%);
}

div[data-panel="right"].hide {
    transform: translateX(110%);
}

/** Menu Style **/

div[data-panel="menu"] {
    width: 100%;
    color: var(--panel-color);
    background-color: var(--panel-background-color);
    box-shadow: 0 4px 8px 0 black !important;
    height: 35px;
    margin-bottom: 1%;
}

/** Search style **/
div[data-panel="search"]{
    position: absolute;
    background-color: var(--panel-background-color);
    color: var(--panel-color);
    height: 5vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
    border-radius: 4px;
    z-index: 200;
    /* transition: 0.1s; */
    opacity: 1;
}

div[data-panel="search"]>input{
    border-radius: inherit;
    background-color: inherit;
    color: inherit;
    border: none;
    width: 100%;
    height: inherit;
    padding: 1%;
}

div[data-panel="search"].hide{
    visibility: hidden;
    z-index: -1000;
    opacity: 0;
}

/** Canvas styles **/

/* canvas
{
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
} */