:root {
    /* Backdrop styles */
    --backdrop-background-color: rgba(60, 60, 60, 1);
    /* Panel styles */
    --panel-color: white;
    --panel-background-color: rgba(30, 30, 30, 0.7);
    /* Menu Styles */
}

body, #page-body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

footer, #header, #background-image, #theme-slant {
    display: none;
}

/** Container **/

div#protoContainer {
    background-color: var(--backdrop-background-color);
    color: var(--panel-color);
    height: 100vh;
    overflow: hidden;
}

div#protoHeader {
    height: 4%;
    background-color: var(--panel-background-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/** Backdrop **/

div#protoBackdrop {
    height: 96%;
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
}

div#interaction-layer {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
}

div[data-panel] {
    background-color: var(--panel-background-color);
    box-shadow: 0 4px 8px 0 black !important;
    color: var(--panel-color);
    margin: 10px;
    position: relative;
}

/** Style the left and right panels **/

div[data-panel="left"], div[data-panel="right"] {
    min-width: 200px;
    width: 25%;
    max-width: 30%;
    height: 90%;
    padding: 0;
    transition: transform 0.4s;
}

div[data-panel="left"] {
    float: left;
}

div[data-panel="right"] {
    float: right;
}

div[data-panel="left"].hide {
    transform: translateX(-110%);
}

div[data-panel="right"].hide {
    transform: translateX(110%);
}

div[data-panel="footer"] {
    /* height: 3vh; */
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px;
}

/** Canvas styles **/

#protoCanvas {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

kbd {
    background-color: rgb(170, 170, 170);
}

/*
Temp fix I think
*/

.scrolly {
    position: absolute;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}