/**** Site Colors*****/
:root{
    --theme-primary:  rgb(51, 70, 91);
    --theme-secondary: var(--dark);
}

.nav-z-index{
    z-index: 4;
}

.bg-theme-primary{
    background-color: var(--theme-primary) !important;
}

.bg-theme-secondary{
    background-color: var(--theme-secondary) !important;
}

.bg-yellow {
    background-color: #F9CF00 !important;
}

.bg-tangerine {
    background-color: #F19F4D !important;
}

/****box Shadow****/
.shadow{
    box-shadow: 0 4px 8px 0 black !important;
}

/****Debug CSS******/
.border {
    border: 1px solid black !important;
}

/**** Slanted Divs *****/
div.slanted{
    background: var(--slant-color);
    position: relative;
    padding: 30px;
    margin-bottom: 100px;
}

div.slanted::after{
    position:absolute;
    content: "";
    display:block;
    left:0;
    bottom:-100px;
    width:100%;
    border-style: solid;
}

div.slanted-left::after{
    border-width:    0 100vw 100px  0;
    border-color: transparent var(--slant-color) transparent transparent;
}

div.slanted-right::after{
    border-width: 0 0 100px 100vw;
    border-color: transparent transparent  transparent var(--slant-color);
}


/*****Shadow textures****/
.theme-shadow{
    position: absolute;
    top: 0;
    left: 0;
}

/*****Sticky header*****/
.navbar-fixed-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/****3d images/divs****/
.img-3d{
    position: absolute;
    z-index: 1;
    transform: skew(50deg, -25deg);
    box-shadow: 3px 3px 50px 10px rgba(0,0,0, 0.3);
}

.nav-custom-link{
    color: rgba(255,255,255,.5);
}

body{
    overflow-x: hidden !important;
}
